<p>
  Genres:
</p>

<% @genres.each do |g| %>
<p>
  <%= g.name %>
</p>
<% end %>

<% if current_admin? %>
  <p>
    Create a Genre:
  </p>
  <%= form_for [:admin, @genre] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %>
  <% end %>
<% end  %>